h1 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 38px;
    color: darkslategrey;
    padding-top: 40px;
  }

.jumbotron{
    background-color: red;
    color:#fff;
}
#visualisationContainer{
    position: center;
}

#chartContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

#bundesländerSelector{
  grid-column: 1 / 2;
  grid-row: 2;
}


#dataWrapper{
  grid-column: 2;
  grid-row: 1;
}

#treemap_Viz{
  grid-column: 1;
  grid-row: 1;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
	padding-bottom: 70%; 
	vertical-align: middle; 
	overflow: hidden; 
}
.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;

}



.popover {
  background-color: 	#fef9f9;
  padding: 0px;

}
.popover-header {
  background-color: 	#3f0f0f;
  color: #FFFFFF;
  margin: 0px;

}
.popover-title {
  font-size: 22px;
  margin-left: 15px;;

}
.close{
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 36px;
  color: #FFFFFF;
}
.popover-content {
  color: black;
  padding: 15px;
}
.bs-popover-top .arrow {
 /* Position at the bottom center */
 bottom: -16px;
 position: absolute;
 left: 50%;

 /* Border */
 background-color: #fef9f9;
 transform: translate(-50%, -50%) rotate(45deg);

 /* Size */
 height: 16px;
 width: 16px;

}

.bs-popover-left .arrow {
  /* Position at the right center */
  right: -16px;
  position: absolute;
  top: 50%;
 
  /* Border */
  background-color: #fef9f9;
  transform: translate(-50%, -50%) rotate(45deg);
 
  /* Size */
  height: 16px;
  width: 16px;
 
 }