h1 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 38px;
    color: darkslategrey;
    padding-top: 40px;
  }


  .h3{
    font-size: 2.9rem;
    margin:0px;
  }

.date-picker{
  width: 40%;
  margin: auto;
}




.button-width{
  width: 20vh;
  display: table !important;
}



 .map-germany {
  /* display: block;*/
  margin-top: 30px; 
  display: flex;
	align-items: center;
	justify-content: center;
  
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle; 
  overflow: hidden; 
}
.svg-content-responsive {
  display: inline-block;
  top: 0;
  left: 0;

}


.hidden {
  display: none;
}

#chartPlaceholderContainer{
  height: 300px;
}

#titleContainer{
  padding: 70px;
  background-color: teal;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  height: 250px;

}


#btnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vh;
  margin-left: auto;
  margin-right: auto;
}

.btn-group>.btn-inactive {
  background-color: #607d8b;
  width: 11vh;
  margin-top: 3px;
}

.btn-group>.btn {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.btn-group>.btn-inactive:hover {
  background-color: #728F9D;
}
.btn-group>.btn:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#selectedDate{
  background-color:teal;
}
#treemapOption{
  background-color:teal;
}

#visualisationContainer{
  min-height: 100vh;
  background-color: #e5f2f2;
}
#treemapContainer{
  min-height: 100vh;
}
#wordCloudContainer{
  min-height: 100vh;
}

#lineChartContainer{
  padding-top: 20px;
  padding-bottom: 30px;
  height: 200px;
}

#treemapwrapper{
  margin-left: 30px;
}

.modal {
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 40%;
  width: 35%;
  will-change: top, opacity;
}

#toast-container {

  right: auto !important;
  bottom: 50%;
  left:4%;
  top: auto !important;
}

.material-icons{
  color: teal;
}


.tabs .tab a{
  color:teal!important;
  background-color: white;
}
.tabs .tab a:hover {
  background-color:#cfd9dd!important;
  color:white!important;
}
.tabs .tab a.active {
  background-color:teal!important;
  color:white!important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:white!important;
  height: 20px;;
} /*Color of underline*/





