h1 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 38px;
    color: darkslategrey;
    padding-top: 40px;
  }

.jumbotron{
    background-color: red;
    color:#fff;
}
#visualisationContainer{
    position: center;
}

.date-picker{
  width: 40%;
  margin: auto;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 1.0;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.side-bar{
  height: 100vh !important;
}

.button-width{
  width: 120px;
  display: table !important;
}

.add-padding{
  padding-top: 20px;
  padding-bottom: 20px;
}

.map-germany {
  display: block;
  margin: auto;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 70%; 
  vertical-align: middle; 
  overflow: hidden; 
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;

}



.popover {
  background-color:   #fef9f9;
  padding: 0px;

}
.popover-header {
  background-color:   #3f0f0f;
  color: #FFFFFF;
  margin: 0px;

}
.popover-title {
  font-size: 22px;
  margin-left: 15px;;

}
.close{
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 36px;
  color: #FFFFFF;
}
.popover-content {
  color: black;
  padding: 15px;
}
.bs-popover-top .arrow {
 /* Position at the bottom center */
 bottom: -16px;
 position: absolute;
 left: 50%;

 /* Border */
 background-color: #fef9f9;
 transform: translate(-50%, -50%) rotate(45deg);

 /* Size */
 height: 16px;
 width: 16px;

}

.bs-popover-left .arrow {
  /* Position at the right center */
  right: -16px;
  position: absolute;
  top: 50%;
 
  /* Border */
  background-color: #fef9f9;
  transform: translate(-50%, -50%) rotate(45deg);
 
  /* Size */
  height: 16px;
  width: 16px;
 
 }

 .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: block;
}

#dateDropdown {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dateDropdown div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dateDropdown div:hover {
  background-color: #EBE7E7
}


.hidden {
  display: none;
}


