h1 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 38px;
    color: darkslategrey;
    padding-top: 40px;
  }


#visualisationContainer{
    position: center;
}

.line-chart-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; /* aspect ratio */
	vertical-align: top;
	overflow: hidden;
}

.line-chart-responsive {
	display: inline-block;
  	position: absolute;
  	top: 10px;
  	left: 0;
}